user  nginx nginx;
worker_processes  {{ ansible_processor_cores }};

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;


events {
    use epoll;
    worker_connections  1024;
}


http {
    include       /usr/local/nginx/conf/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr || $remote_user || [$time_local] || "$request" ||'
                      '$status || $body_bytes_sent || "$http_referer" ||'
                      '"$http_user_agent" || "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main buffer=16k;

    sendfile           on;
    tcp_nopush         on;
    server_tokens     off;
    keepalive_timeout  65;
    large_client_header_buffers 4 4k;
    client_header_buffer_size 2k;
    client_max_body_size 12m;
    client_header_timeout 20;
    client_body_timeout 20;

    fastcgi_send_timeout 120s;
    fastcgi_read_timeout 120s;
    fastcgi_buffer_size 16k;
    fastcgi_buffers 32 16k;
    fastcgi_busy_buffers_size 16k;
    fastcgi_temp_file_write_size 16k;

    open_file_cache max=204800 inactive=20s;
    open_file_cache_min_uses 1;
    open_file_cache_valid 30s;
    #open_file_cache_errors on;   

    gzip  on;
    gzip_disable "msie6";
    gzip_vary on;
    gzip_proxied any;
    gzip_comp_level 6;
    gzip_min_length 1k;
    gzip_buffers 16 8k;
    gzip_http_version 1.1;
    gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;

    include /usr/local/nginx/conf/conf.d/*.conf;
}
